* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    line-height: 2;
    font-size:16px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

.app {
    padding: 40px 15px 0 15px;
    text-align:center;
}

h1 {
    font-size:28px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
    margin-bottom: 10px;
}

fieldset {
    border-style: none;
    padding: 0;
}

input {
    font-size:16px;
    border-color: white;
    border-style: solid;
}

input.invalid {
    border-color: red;
}

button {
    background-color: #111;
    font-size:20px;
    padding: 10px;
    border: none;
    color: #FFF;
}

.form-container {
    margin: auto;
    max-width: 500px;
}

.form-row {
    display: flex;
}

.form-row > * {
    width: 100%;
    flex-grow: 1;
    padding-right: 5px;
}

.hide {
    display: none;
}
